.filter-button {
    color: white !important;
    border-radius: 6px;
    height: 40px;
    min-width: 40px !important;
    padding: 0 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .v-pagination {
    justify-content: center;
    margin-top: 20px;
  }
  
  .table-dark {
    background-color: #1E1E1E;
    color: white;
  }
  
  .table-dark th {
    background-color: #2C2C2C;
    color: white !important;
  }
  
  .table-dark tr:nth-of-type(odd) {
    background-color: #2A2A2A;
  }
  
  .table-dark tr:nth-of-type(even) {
    background-color: #1E1E1E;
  }